[Unit]
Description=RPI Music Player Service
After=network.target

[Service]
Type=simple
# User that will run the service
User=el
# Full path to your application directory
WorkingDirectory=/home/el/Documents/Python-Music-Server
# Path to the Python executable
ExecStart=/usr/bin/python app.py
Restart=always
RestartSec=5
# Watchdog settings - will restart service if no ping received for 60 seconds
WatchdogSec=60
# Enable watchdog notification from the application
NotifyAccess=main

# Environment variables if needed
# Environment=VARIABLE=value

[Install]
WantedBy=multi-user.target 